In [1]:
#1. Импортируйте библиотеку Numpy и дайте ей псевдоним np.
import numpy as np

In [3]:
#Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов.
#Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй — числа 6, 8, 11, 10, 7.
a = np.array([[1, 6], 
              [2, 8], 
              [3, 11], 
              [3, 10], 
              [1, 7]])
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [8]:
#каждый столбец — это признак, а строка — наблюдение.
#найдите среднее значение по каждому признаку, используя метод mean массива Numpy.
#Результат запишите в массив mean_a, в нем должно быть 2 элемента.
mean_a=a.mean(axis = 0)
mean_a

array([2. , 8.4])

In [9]:
#2 Вычислите массив a_centered, отняв от значений массива а 
#средние значения соответствующих признаков, содержащиеся в массиве mean_a.
#Вычисление должно производиться в одно действие.
#Получившийся массив должен иметь размер 5x2.
a_centered=np.subtract(a, mean_a)
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

In [13]:
#3. Найдите скалярное произведение столбцов массива a_centered.
#В результате должна получиться величина a_centered_sp. 
a1=a_centered[:,0]
a2=a_centered[:,1]
a_centered_sp=np.dot(a1,a2)
a_centered_sp

8.0

In [17]:
#поделите a_centered_sp на N-1, где N - число наблюдений
N=a.shape[0]
N

5

In [18]:
my_cov=a_centered_sp/(N-1)
my_cov

2.0

In [19]:
#проверьте получившееся число, вычислив
#ковариацию еще одним способом — с помощью функции np.cov
np.cov(a.transpose())

array([[1. , 2. ],
       [2. , 4.3]])

In [21]:
#1. Импортируйте библиотеку Pandas и дайте ей псевдоним pd.
import pandas as pd

In [23]:
#Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: 
#[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
authors = pd.DataFrame({'author_id':[1, 2, 3],
                   'author_name':['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [26]:
#создайте датафрейм book cо столбцами author_id, book_title и price,
#в которых соответственно содержатся данные: [1, 1, 1, 2, 2, 3, 3], 
#['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
#[450, 300, 350, 500, 450, 370, 290].
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
                     'price':[450, 300, 350, 500, 450, 370, 290]}, 
                      columns=['author_id', 'book_title', 'price'])
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [27]:
#1. Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.
authors_price = pd.merge(authors, books, on = 'author_id', how = 'outer')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [28]:
#2. Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.
top5=authors_price.nlargest(5, 'price')
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [33]:
#3. Создайте датафрейм authors_stat на основе информации из authors_price.
#В датафрейме authors_stat должны быть четыре столбца:
#author_name, min_price, max_price и mean_price,
#в которых должны содержаться соответственно имя автора,
#минимальная, максимальная и средняя цена на книги этого автора.
df1 = authors_price.groupby('author_name').agg({'price': 'min'}).rename(columns={'price':'min_price'})
df2 = authors_price.groupby('author_name').agg({'price': 'max'}).rename(columns={'price':'max_price'})
df3 = authors_price.groupby('author_name').agg({'price': 'mean'}).rename(columns={'price':'mean_price'})
authors_stat=pd.concat([df1, df2, df3], axis = 1)
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

In [36]:
#9. Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут 
#располагаться данные о том, какая обложка у данной книги — твердая или мягкая. В этот 
#столбец поместите данные из следующего списка: 
#['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
df1 = pd.DataFrame({'cover':['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']}, columns=['cover'])
authors_price = pd.concat([authors_price, df1], axis = 1)
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [41]:
#Просмотрите документацию по функции pd.pivot_table 
#с помощью вопросительного знака.
?pd.pivot_table

In [44]:
#Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. 
#Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться 
#«твердая» и «мягкая», а индексами должны быть фамилии авторов. Пропущенные значения 
#стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'],
                    columns=['cover'], aggfunc=np.sum, fill_value=0)
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [47]:
#Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".
book_info.to_pickle('book_info.pkl')

In [48]:
#Затем загрузите из этого файла датафрейм и назовите его book_info2.
book_info2 = pd.read_pickle('book_info.pkl')

In [49]:
#Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.
book_info==book_info2

cover        мягкая  твердая
author_name
Островский     True     True
Тургенев       True     True
Чехов          True     True